name: Docker Image

on:
  push:
    branches: [ "main" ]

jobs:

  build_and_push:

    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1

    - name: Docker Login
      uses: docker/login-action@v3.6.0
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}


    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: . 
        file: ./dockerfile
        push: true # This flag tells the action to push the image to Docker Hub
