name: Labb uppg 3 - Workflow Dispatch, If-statser och Needs i GitHub Actions

#------------------------------------
#Uppgift 3 – Needs och flödeskontroll
#------------------------------------
#1. Skapa tre jobb: test, build, deploy
#2. Använd needs: för att styra att:
#build bara körs efter test
#deploy bara körs efter build
#3. Lägg till en input som styr om tester ska köras eller inte (till exempel run_tests: true/false).
#4. Använd if: för att hoppa över test-jobbet vid behov.
#5. Kör workflowet både med och utan tester och se hur flödet påverkas.

on:
  workflow_dispatch:
    inputs:
      run_tests:
        description: 'Mark to run tests'
        type: boolean
        required: false
        default: false

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.run_tests == 'true' }}
    steps:
    - name: test step
      run: echo "test is testing"
  build:
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
    - name: build step
      run: echo "build is building"
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: always()
    steps:
    - name: deploy step
      run: echo "deploy is deploying"
  
#Reflektion
#Hur kan du använda needs: för att stoppa ett workflow vid fel?
# Needs använder statusen på jobbet tidigare. Status kan vara success, failure, or skipped. Om det är success så körs jobbet, om inte så körs det ej. 
#Men för att kunna ha test-flaggan på så behöver man skriva över statusen med if: always()
#Hur kan du skapa ett jobb som alltid körs sist (till exempel för notifiering)?
# Genom att använda if: always() så körs jobbet oavsett status på jobbet man är beriende va tidigare även vid skipped

#Vilka problem jag stötte på
#När jag jag bara har needs test och jag tar bort flaggan för test så körs inga steg. Eftersom needs ska komma efteråt och jobbet aldrig startar startar inget.
