#1 pipeline startar vid push till din branch hela vägen till deploy
#vara tydliga namngivningar för bland annat workflows, jobs och steps.
name: main workflow

on:
  push:
    branches:
      - main

  workflow_dispatch:

#API key and Docker credential
env:
  API_KEY: ${{ secrets.GITHub}}
      
#3. Logik och beroenden (användning av needs och if-satser) ska användas i pipelinen.

#4. Pipelinen ska kunna triggas manuellt med workflow_dispatch erbjuda en parameter för att logga fel:
  #a. Om parametern är satt till true och testerna misslyckas, ska en logg-error artefakt genereras.
  #b. Om parametern är satt till false, skapas ingen loggfil, oavsett testresultat.

#5. När alla tester är godkända ska pipelinen:
  #a. Skapa en Docker-image av applikationen.
  #b. Publicera Docker-imagen på DockerHub som är kopplad till en Azure-app
  #service (med användning av Azure-credentials). 
